<h2>Your pool</h2>
<ul>
  <%= for card <- @cards do %>
    <li>
      <%= render_card(card) %>
    </li>
  <% end %>
</ul>

<h2>Your boosters</h2>
<%= for booster <- @boosters do %>
  <hr/>
  <ul>
    <%= for card <- booster do %>
      <li>
        <%= render_card(card) %>
      </li>
    <% end %>
  </ul>
<% end %>
